<html>
<body>
    
    
    <div class="container">
        <div class="shadow">
            <div class="container-fluid">
          

            <div class="panel-info">
            <div class="panel-heading">
                <h3 class="uk-margin-large-right">أحاديث الراوي : <span class="">عبد الله بن عبد الملك</span></h3>
            </div>

        </div>
        <hr>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">الطبقات الكبرى لابن سعد - </a>
                        <span>
                            رقم الحديث : 2550
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">ما رايت احدا احضر فهما ولا الب لبا ولا اكثر علما ولا اوسع حلما من ابن عباس ولقد رايت عمر بن الخطاب يدعوه للمعضلات ثم يقول عندك قد جاءتك معضلة ثم لا نج...</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="" class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">مسند أحمد بن حنبل - </a>
                        <span>
                            رقم الحديث : 21381
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي وهو مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="" class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">جامع الترمذي - </a>
                        <span>
                            رقم الحديث : 511
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي وهو مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                        " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">السنن الكبرى للنسائي - </a>
                        <span>
                            رقم الحديث : 1809
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي وهو مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                        " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">سنن النسائى الصغرى - </a>
                        <span>
                            رقم الحديث : 1503
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي وهو مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                       " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">المعجم الكبير للطبراني - </a>
                        <span>
                            رقم الحديث : 6576
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                       " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">معرفة الصحابة لأبي نعيم - </a>
                        <span>
                            رقم الحديث : 1051
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي وهو مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                    " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href=" ">معرفة الصحابة لأبي نعيم - </a>
                        <span>
                            رقم الحديث : 6461
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستقي وهو مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                   " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href=" ف">كتاب اللطائف من علوم المعارف - </a>
                        <span>
                            رقم الحديث : 329
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي وهو مقنع بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                      " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="">أسد الغابة - </a>
                        <span>
                            رقم الحديث : 1
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي وهو مقنع يديه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                     " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="          ">معجم شيوخ الابرقوهى - </a>
                        <span>
                            رقم الحديث : 265
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">يستسقي مقنعا يديه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                        " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-info height-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="" >السفر الثاني من تاريخ ابن أبي خيثمة - </a>
                        <span>
                            رقم الحديث : 77
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <p class="more-height">رايت النبي عند احجار الزيت يستسقي مقنعا بكفيه يدعو</p>
                    <p class="pull-right uk-margin-bottom">
                        <a href="
                      " class="btn btn-primary btn-pos">
                            أقرأ الحديث</a></p>
                </div>

            </div>
        </div>
    



      
        <div class="loadmore text-center uk-margin-bottom">

            <button class="btn btn-default btn-more next" id="loadMoreNarr" data-id="1">أكثر</button>
        </div>
        

       <br>
       
            </div>
            </div>
    </div>

</body>
</html>
