<html> 
    <body> 
        <div class="container main">
            <div class="shadow">
<div>
    <img src="assets/img/bannar.png" alt="bannar" title="الرواة" class="img-bannar">
</div>           


<div class="books">

<div class="title"> معلومات عن الراوي</div>

<!-- Accordion code starts here-->

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            عن حياة الراوي
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

            <div class="panel-body">
                <h5> الأسم <span class="text1"> : عبد الله بن عبد الملك</span></h5>
                <h5>  الشهرة<span class="text1"> : آبي اللحم الغفاري</span>
                     , الكنيه: <span class="text1">أبو عبد الله</span>                         </h5>
                                        <h5>النسب : <span class="text1"> الغفاري</span></h5>
                                                                <h5>الرتبة : <span class="text1"> صحابي</span></h5>
                                                                                            <h5>مات في : <span class="text1"> حنين</span></h5>
                                                                <h5>الوظيفة : <span class="text1"> الشاعر</span></h5>
                                                                                                                        <h5>توفي عام : <span class="text1"> 8</span></h5>
                                    </div>
        
        </div>
      </div>
    </div>

    <div class="break"> </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            تلاميذ الراوي
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                        <td class="heading" >الأسم</td>
                        <td class="heading">الشهرة</td>
                        <td class="heading">الرتبة</td>
                    </tr>
                                                    <tr>
                            <td>
                                <a class="value1" data-id="1" href=" ">
                                    عمير
                                </a>
                            </td>
                            <td class="value1"> عمير مولى آبي اللحم  <span class="text1"> / توفي في :</span>  70      </td>
                            
                            <td class="value1"><p style="font-weight:bold ;color: #000 !important;
                                ">صحابي</p></td>

                        </tr>
                                            </tbody>
                                        
                                        </table>


            </div>
        
        </div>
      </div>
    </div>

    <div class="break"> </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            أساتذة الراوي
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
           
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                        <td class="heading" >الأسم</td>
                        <td class="heading">الشهرة</td>
                        <td class="heading">الرتبة</td>
                    </tr>
                           
                           
                                            </tbody>
                                        
                                        </table>


            </div>
            
        </div>
      </div>
    </div>

<div class="break"> </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            الجرح والتعديل
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
     
            <div class="panel-body">
                <ul class="list-unstyled">
                                                <li>
                        <h5>أبو عبد الله المرزباني   :
                            <span class="text1">
                                سماه عبد الله بن عبد الملك، كان شريفا شاعرا أدرك الجاهلية
                            </span>
                        </h5>
                    </li>
                                                 <li>
                        <h5>ابن حجر العسقلاني   :
                            <span class="text1">
                                صحابي استشهد يوم حنين، وكان شريفا شاعرا
                            </span>
                        </h5>
                    </li>
                                                 <li>
                        <h5>ابن عبد البر الأندلسي   :
                            <span class="text1">
                                من قدماء الصحابة وكبارهم
                            </span>
                        </h5>
                    </li>
                                                 <li>
                        <h5>الذهبي   :
                            <span class="text1">
                                له صحبة
                            </span>
                        </h5>
                    </li>
                                                 <li>
                        <h5>الهيثم بن عدي   :
                            <span class="text1">
                                سماه خلف بن عبد الملك
                            </span>
                        </h5>
                    </li>
                                                 <li>
                        <h5>هشام بن السائب الكلبي   :
                            <span class="text1">
                                سماه خلف بن عبد الملك
                            </span>
                        </h5>
                    </li>
                                             </ul>
            </div>

            </div>
        </div>
      </div>

  </div>



<!----Accordion Code ends here-->
<div class="space1"> </div>


<div class="text-center margin-top">
    <a href=" comments" class="btn btn-primary btn-ms"> أضف تعليق</a>
    <div class="divider"> </div>
    <a href=" narrators-hadith" class="btn btn-primary btn-ms"> أحاديث الراوي </a>
</div>



<div class="space"> </div>

</div>



</div>
</div>

</body>
</html>

