<div class="shadow">

      <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="description" content="    موسوعة الحديث , موضوعات الاحاديث
">
            <meta name="keywords" content="            أجزاء وفوائد ,
            أخلاق ,
            أمالي ,
            تراجم وتواريخ ,
            تفسير قرآن ,
            زهد ورقائق ,
            سنن وموطآت ,
            سيرة وشمائل ,
            صحاح ومستخرجات ,
            عقيدة ,
            علوم الحديث ,
            علوم قرآن ,
    ">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title> موسوعة الحديث : الموضوعات
            </title>


      </head>

      <body>
            <div class="container main">
                  <div class="shadow">

                        <header>
                              <nav class="navbar navbar-inverse">
                                    <div class="container-fluid">
                                          <div class="navbar-header">
                                                <img src="../../assets/img/New-logo.png" class="img-logo">
                                          </div>
                                    </div>
                              </nav>
                              <!--end of navbar inverse-->

                              <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->

                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                          <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                data-target="#navbarSupportedContent"
                                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                                aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"></span>
                                          </button>

                                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                <ul class="navbar-nav mr-auto">
                                                      
                                                      <li class="nav-item active">
                                                            <a class="nav-link" href="../home">الرئيسية <span
                                                                        class="sr-only"></span></a>
                                                      </li>
                                                      <div class="space">  </div>
                                                      <li class="nav-item">
                                                            <a class="nav-link" href="../topics">الموضوعات</a>
                                                      </li>
                                                      <div class="space">  </div>
                                                      <li class="nav-item">
                                                            <a class="nav-link" href="../all-books">الكتب</a>
                                                      </li>

                                                      <div class="space">  </div>


                                                      <li class="nav-item">
                                                            <a class="nav-link" href="../narrators">الرواة</a>
                                                      </li>
                                                      <div class="space">  </div>
                                                      <li class="nav-item">
                                                            <a class="nav-link" href="../all-authors">المؤلفين</a>
                                                      </li>
                                                      <div class="space">  </div>
                                                      <li class="nav-item">
                                                            <a class="nav-link" href="../books">كتبي</a>
                                                      </li>
                                                      <div class="space">  </div>
                                                      <li class="nav-item">
                                                            <a class="nav-link" href="../about-us">عن الموقع</a>
                                                      </li>
                                                      <div class="space">  </div>
                                                </ul>
                                                <form class="form-inline my-2 my-lg-0">
                                                      <input class="form-control mr-sm-2" type="search"
                                                            placeholder="Search" aria-label="Search">
                                                            
                                                      <button class="btn btn-outline-success my-2 my-sm-0"
                                                            type="submit">ابحث</button>
                                                </form>
                                          </div>
                                    </nav>

                              </div>
                              
                              <!-- /.container-fluid -->




                        </header>