.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.navbar {
    position: relative;
    min-height: 60px;
    border: 1px solid transparent;
    border-radius: 0;
    

}
.navbar-inverse {
    height: 50px;
    background-color: #3a8789;
    border-color: #2b6465;
}
.tf {
    color: #fff;
    font-weight: bold;
    width: 57.5em;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}