<html> 
    <body >

        <div class="container main">
          <div class="shadow">
            <div class="container-fluid">

            <!-- Start of Search Wrapper -->
            <div class="search-area-wrapper">
              <div class="search-area text-center">
                  <h2 class="search-title">ابحث في المؤلفين</h2>
              </div>
              <div class="search-control" id="more-topic">
                  <input type="hidden" name="_token" id="csrf" value="KjfMS8n6cb20MQ1cOJWzfIeximoNknaCsakW0NO3">
                  <input type="text" name="saerch-topic" id="author-filter" class="form-control" placeholder="البحث فى المؤلفين">
              </div>
      
          </div>
            <!-- End of Search Wrapper -->
            
            <div class="author-panel">
              <div class="text-center uk-margin-top">
                  <h2 class="title">المؤلفين</h2>
              </div>
              <div id="authors" class="row uk-margin-large-top">
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="الربيع بن حبيب">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">الربيع بن حبيب</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="مجاهد بن جبر">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">مجاهد بن جبر</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="زيد بن علي بن الحسين">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">زيد بن علي بن الحسين</a> </h1>
                             </div>
                          </div>
                      </div>

                      <span id="dots">...</span> <span id="more"> </span>

                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="أبو نعيم الأصبهاني">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">أبو نعيم الأصبهاني</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="أيوب السختياني">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">أيوب السختياني</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="همام بن منبه">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">همام بن منبه</a> </h1>
                             </div>
                          </div>
                      </div>


                   
                    
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="أبو حنيفة">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">أبو حنيفة</a> </h1>
                             </div>
                          </div>
                      </div>

                      

                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="عبد الملك بن جريج">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">عبد الملك بن جريج</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="معمر بن راشد الأزدي">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">معمر بن راشد الأزدي</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="سعيد بن أبي عروبة">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">سعيد بن أبي عروبة</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="سفيان الثوري">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">سفيان الثوري</a> </h1>
                             </div>
                          </div>
                      </div>
                                  <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                          <div class="panel panel-default height-author">
                              <div class="panel-body">
                              <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="إبراهيم بن طهمان">
                          <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">إبراهيم بن طهمان</a> </h1>
                             </div>
                          </div>
                      </div>

                      
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                        <div class="panel panel-default height-author">
                            <div class="panel-body">
                            <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="الربيع بن حبيب">
                        <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">الربيع بن حبيب</a> </h1>
                           </div>
                        </div>
                    </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                        <div class="panel panel-default height-author">
                            <div class="panel-body">
                            <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="مجاهد بن جبر">
                        <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">مجاهد بن جبر</a> </h1>
                           </div>
                        </div>
                    </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
                        <div class="panel panel-default height-author">
                            <div class="panel-body">
                            <img src="assets/img/author.png" class="img-up" alt="المؤلف" title="زيد بن علي بن الحسين">
                        <h1 class="text-info uk-margin-top-remove head-font"><a href="author-detail">زيد بن علي بن الحسين</a> </h1>
                           </div>
                        </div>
                    </div>
                      
               
                    
               
                  <div class="loadmore text-center uk-margin-bottom" >
                      <button class="btn btn-default btn-more next" id="morebtn" data-id="12" onclick="moreButton()">أكثر</button>
                  </div>
                
                </div>
          </div>

<div class="top-space"> </div>


      <br>                              
                                </div>
                                

                               
                            
                                </div>
                                
                                </body>
                                
                                </html>
    
