<html> 
    <body >

        <div class="container main">
          <div class="shadow">

            <!-- Start of Search Wrapper -->
            <div class="search-area-wrapper">
                <div class="space">  </div>
               <div class="search-area text-center">
               <h2 class="search-text">ابحث في المؤلفين</h2>
          </div>
          <div class="search-control" id="more-topic">
          <input type="hidden" name="_token" id="csrf"
                value="lLa2MoLXjrTHwYW5saJJYg26aYzTV1kDi7LbwRzJ">
          <input type="text" name="saerch-topic" id="topic-filter" class="form-control2"
                placeholder="البحث فى المؤلفين">
         </div>

        </div>
            <!-- End of Search Wrapper -->
            


    <div> <h1 class="title"> المؤلفين </h1> </div>
<div class="background"> 
    <div class="row">
    <div class="floating-box" style="height: 200px; width: 30%;">
     <div>
      <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
      <h4 class="name"> محمد بن الحسن الشيباني  </h4>
     </div>
    
      </div>

      <div class="floating-box" style="height: 200px; width: 30%;">
        <div>
         <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
         <h4 class="name"> محمد بن الحسن الشيباني  </h4>
        </div>
       
         </div>

         <div class="floating-box" style="height: 200px; width: 30%;">
            <div>
             <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
             <h4 class="name"> محمد بن الحسن الشيباني  </h4>
            </div>
           
             </div>

            </div>
            <div class="top-space"> </div>
            <div class="row">
                <div class="floating-box" style="height: 200px; width: 30%;">
                 <div>
                  <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
                  <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                 </div>
                
                  </div>
            
                  <div class="floating-box" style="height: 200px; width: 30%;">
                    <div>
                     <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
                     <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                    </div>
                   
                     </div>
            
                     <div class="floating-box" style="height: 200px; width: 30%;">
                        <div>
                         <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
                         <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                        </div>
                       
                         </div>
            
                        </div>

                        <div class="top-space"> </div>

                        <div class="row">
                            <div class="floating-box" style="height: 200px; width: 30%;">
                             <div>
                              <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
                              <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                             </div>
                            
                              </div>
                        
                              <div class="floating-box" style="height: 200px; width: 30%;">
                                <div>
                                 <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
                                 <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                                </div>
                               
                                 </div>
                        
                                 <div class="floating-box" style="height: 200px; width: 30%;">
                                    <div>
                                     <img src="assets/img/author.png" style="height: 100px; width: 33%;"> 
                                     <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                                    </div>
                                   
                                     </div>
                        
                                    </div>
                                    
<div class="top-space"> </div>

<div class="button-more1">
  <button class="button-more1" id="loadauthor" data-id="12">أكثر</button>
</div>

                                    
                                </div>
                                <div class="space"> </div>

                                <footer class="nav">
                                  <nav class="navbar navbar-inverse ">
                                        <div class="container-fluid">
                                              <div class="text-center">
                                                    <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر </h5>
                                              </div>
                                        </div>
                                  </nav>
          
                            </footer>
                            
                                </div>
                                </div>
                                </body>
                                
                                </html>
    
