body {
  background: url(../../assets/img/symphony.png);
  margin: 0;
  padding: 0;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    direction: rtl;

}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.shadow {
  box-shadow: 2px 3px 5px #000;
}
.about {
  background: #fff;
}
.panel-body {
  padding: 15px;
}
.t-info {
  color: #3a8789;
}
h3, .h3 {
  font-size: 28px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 22px;
  margin-bottom: 11px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.uk-margin-top {
  margin-top: 15px !important;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border: 0;
}
.more-height {
  line-height: 38px;
  font-size: 18px;
}
p {
  margin: 0 0 11px;
}
.btn-ms {
  font-size: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #3a8789;
  border-color: #327577;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: #3a8789;
  text-decoration: none;
}
a {
  background-color: transparent;
}

@media (min-width: 768px){
.container {
    width: 750px;
}
.col-sm-4 {
  width: 33.33333333%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: right;
}
.col-sm-8 {
  width: 66.66666667%;
}
}
@media (min-width: 992px){
.container {
    width: 990px;
}
.col-md-4 {
  width: 33.33333333%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: right;
}
.col-md-8 {
  width: 66.66666667%;
}

}

@media (min-width: 1200px){
.container {
    width: 1210px;
}
}


.btn-ms {
  font-size: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #3a8789;
  border-color: #327577;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #3a8789;
  text-decoration: none;
}
