


<body>
<div class="container main">
    <div class="shadow">
      
        <!--end of header-->

            <div class="about">
        <div class="panel-body">
            <h3 class="t-info">من نحن :</h3>
            <div class="first uk-margin-top">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <img src="../../assets/img/web-about.jpg" alt="development" title="application software" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <p class="more-height">
                            تعتبر شركة فكرة من إحدي شركات البرمجة التي تتمتع بالخبرة في مجال تصميم تطبيقات المحمول والمواقع الإليكترونية،لدينا فريق عمل قوي ، ذو خبرة عميقة في تطوير الأدوات التكنولوجية الرئيسية المختلفة من جافا، دوت نت، بالإضافة إلي معرفتنا العميقة بالأي فون والاندرويد والبلاك بيري .
                        </p>
                    </div>
                </div>
            </div>
            <div class="second uk-margin-top">
                <div class="row">

                    <div class="col-md-8 col-sm-8">
                        <p class="more-height">
                            فكرة تحتل مكان فريد من بين المئات من الشركات المحترفة في البرمجة وشركات تصميم المواقع الإليكترونية ، فنحن لا نكتفي فقط بتقديم خدمة او منتج ولكننا نقدم افضل الوسائل والحلول المتاحة التي تتناسب مع المتطلبات المالية والوظيفية لعملائنا . إن تحليلاتنا الديمجرافية التنافسية والتي هي في عمق السوق تمكن شركتنا من إنتاج تحسينات مثلى لمحركات البحث لا يستطيع منافسينا إنتاجها بنفس المستوى . نحن نهدف باستمرار لعمل حلول مختلفة بناءًا على متطلبات عملائنا المالية واستراتيجياتهم الدقيقة تقود إلى علاقات عمل مستمرة وطويلة المدى . نتمنى مساعدتكم.                         </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="../../assets/img/services-about.jpg" alt="services" title="Web Services" class="img-responsive">
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="comments" class="btn btn-primary btn-ms"> أضف تعليق</a>
            </div>

        </div>
    </div>

    <footer class="nav">
        <nav class="navbar navbar-inverse ">
              <div class="container-fluid">
                    <div class="text-center">
                          <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر &copy;</h5>
                    </div>
              </div>
        </nav>

  </footer>
      
    </div>



</div>
<!--end of content container-->

<!--end main container-->




</body>
