<html> 
    <body> 
        <div class="container main">
            <div class="shadow">
<div>
    <img src="assets/img/bannar.png" alt="bannar" title="الرواة" class="img-bannar">
</div>           


<div class="books">
<div class="uk-margin-large-top">
    <div class="alert alert-info">
        <p class="white-color">عند قراءة أي كتاب يتم حفظه بواسطة </p>
    </div>
    <h2 class="text-color">الكتب التى تم قرائتها </h2>
</div>
<br>

<div class="alert alert-warning">
    <p class="line-text">لا يوجد كتب قمت بقرائتها من قبل</p>
</div>
            
        <div class="text-center margin-top">
    <a href=" comments" class="btn btn-primary btn-ms"> أضف تعليق</a>
</div>
</div>

<br><br>
<br><br>

<div class="space"> </div>

<footer class="nav">
    <nav class="navbar navbar-inverse ">
          <div class="container-fluid">
                <div class="text-center">
                      <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر &copy;</h5>
                </div>
          </div>
    </nav>

</footer>

</div>
</div>
</body>
</html>