.img-bannar {
  width: 100%;
}
.books {
  padding: 10px;
}
.uk-margin-large-top {
  margin-top: 50px !important;
}
.alert-info {
  background-color: #3a8789;
  border-color: #2f7067;
  color: #3a8789;
}
.alert {
  height: 50px;
  padding: 15px;
  margin-bottom: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  
}
.white-color {
  color: #fff;
  float: right;
  font-size: 20px;
}
p {
  margin: 0 0 11px;
}

.text-info {
  color: black;
  float: right;
}
.line-text{
  font-size: 20px;
  margin-top: 0em;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert {
  padding: 15px;
  margin-bottom: 22px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.margin-top {
  margin-top: 60px;
}
.text-center {
  text-align: center;
}

.btn-ms {
  font-size: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #3a8789;
  border-color: #327577;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 19px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  color: #3a8789;
  text-decoration: none;
}
@media (min-width: 1200px){
.container {
    width: 1210px;
}
}

body {
  background-image: url(../../assets/img/symphony.png);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
   direction: rtl;
}

