<body>




      <div class="container main">
            <div class="shadow">


                  <!-- Start of Search Wrapper -->
                  <div class="search-area-wrapper">
                        <div class="search-area text-center">
                              <h2 class="tp">ابحث في الموضوعات</h2>
                        </div>
                        <div class="search-control" id="more-topic">
                              <input type="hidden" name="_token" id="csrf"
                                    value="lLa2MoLXjrTHwYW5saJJYg26aYzTV1kDi7LbwRzJ">
                              <input type="text" name="saerch-topic" id="topic-filter" class="form-control2"
                                    placeholder="البحث فى المواضيع">
                        </div>

                  </div>
                  <!-- End of Search Wrapper -->
                  <div class="categories">
                        <div class="text-center">
                              <h2 class="t-info margin-bottom">المواضيع</h2>
                        </div>
                        <div id="topic" class="row uk-margin-top">
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="أجزاء وفوائد" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        أجزاء وفوائد
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع" title="أخلاق"
                                                      class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        أخلاق
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع" title="أمالي"
                                                      class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        أمالي
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="تراجم وتواريخ" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        تراجم وتواريخ
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="تفسير قرآن" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        تفسير قرآن
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="زهد ورقائق" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        زهد ورقائق
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="سنن وموطآت" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        سنن وموطآت
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="سيرة وشمائل" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        سيرة وشمائل
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="صحاح ومستخرجات" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        صحاح ومستخرجات
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع" title="عقيدة"
                                                      class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        عقيدة
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="علوم الحديث" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        علوم الحديث
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom">
                                    <div class="row">
                                          <div class="col-md-4 col-sm-4 col-xs-4 img-index">
                                                <img src="../../assets/img/category.png" alt="المواضيع"
                                                      title="علوم قرآن" class="img-responsive img-up img-shadow">

                                          </div>
                                          <div class="col-md-8 col-sm-8 col-xs-8 panel-index">
                                                <div class="panel panel-default panel-shdow">
                                                      <div class="panel-body">


                                                            <h1 class="margin-right head-font">
                                                                  <a href="" class="black-color">
                                                                        علوم قرآن
                                                                  </a>
                                                            </h1>


                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <div class="loadmore text-center uk-margin-bottom">
                              <button class="baksar btn-more next" id="loadtopic" data-id="12">أكثر</button>
                        </div>

                  </div>
                  <!-- end of categories-->

                  <footer class="nav">
                        <nav class="navbar navbar-inverse ">
                              <div class="container-fluid">
                                    <div class="text-center">
                                          <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر &copy;</h5>
                                    </div>
                              </div>
                        </nav>

                  </footer>
            </div>
      </div>
</body>
