<body>
<div class="container main">
    <div class="shadow">

       




<div class="hadith-panel">
            <div class="panel-body mini-xs">
                <ol class="breadcrumb">
                    <li><a href="../home" class="white-color">الرئيسية</a></li>
                    <li><a class="white-color" href="../all-books">مسند الربيع بن حبيب</a></li>
                                        <li class="active">باب في النية</li>
                                        </ol>
                <input type="hidden" name="_token" id="csrf" value="0FvDVmAZaXADBoNwXSvCZKz6Rhr5xHYDzXTxxtBv">

                <div class="row uk-margin-large-bottom mini-xs">
                    <div class="col-md-1 col-sm-1 hidden-xs uk-position-z-index">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <div class="text-center">
                                                        <h2 class="t-info md-text">باب في النية</h2>
                            
                        </div>
                        <br>
                        <div class="hadith-box">
                            <div class="title-subject">
                                <div class="row">
                                    <div class="col-md-4 col-xs-5 padding-remove">
                                        <a href="#" data-toggle="modal" data-target="#myModal">
                                           <!--Img <img src="../../assets/img/book-open-flat.png" alt="تفسير" class="img-tef"> -->
                                        </a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row" id="test">

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="t-p uk-margin-right" > رقم الحديث :
                                            <span id="hadithid" data-slug="مسند-الربيع-بن-حبيب" data-book="1" data-id="1"> 1 </span>   </h4>
                                    </div>
                                    <div class="col-md-8 col-xs-7 ">
                                        <div class="pull-right">
                                            <a href="../all-books/"
                                               data-uk-tooltip title=" (1) الحديث الأول"
                                               class="btn btn-default command nav-icon uk-margin-left">
                                                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                            </a>
                                            <a href="../all-books/"
                                               data-uk-tooltip title="السابق (0)" data-title="مسند الربيع بن حبيب" id="data-prev" data-hadith="1" data-slug="مسند-الربيع-بن-حبيب" data-subject="3" data-id="1" data-book="1"
                                               class="btn btn-default nav-icon">
                                                <i class="fa fa-angle-double-right"></i></a>
                                            <a href="../all-books/"
                                               data-uk-tooltip title=" التالي (2)" data-title="مسند الربيع بن حبيب" data-hadith="1" data-slug="مسند-الربيع-بن-حبيب" id="data-next" data-subject="3" data-id="1" data-book="1"
                                               class="btn btn-default nav-icon ">
                                                <i class="fa fa-angle-double-left "></i></a>
                                            <a href="../all-books/"
                                               data-uk-tooltip title="(890) الحديث الأخير" data-title="مسند الربيع بن حبيب"
                                               class="btn btn-default command nav-icon uk-margin-right">
                                                <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-body">
                                <p class="more-height">
                                    حَدَّثَنِي <a class=rawy id=31544>أَبُو عُبَيْدَةَ مُسْلِمُ بْنُ أَبِي كَرِيمَةَ التَّمِيمِيُّ </a> ، عَنْ <a class=rawy id=2063>جَابِرِ بْنِ زَيْدٍ الأَزْدِيِّ </a> , عَنْ <a class=rawy id=4883>عَبْدِ اللَّهِ بْنِ عَبَّاسٍ </a> ، عَنِ النَّبِيِّ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ ، قَالَ : <a class=matn>" نِيَّةُ الْمُؤْمِنِ خَيْرٌ مِنْ عَمَلِهِ " </a> .
                                </p>

                            </div>
                            <div class="title-subject">
                                <div class="row">
                                    <div class="col-xs-4 padding-remove">
                                        <h4 class="t-p uk-margin-right">الرواه :  </h4>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="pull-right">
                                            <a href="../all-books/"
                                               data-uk-tooltip title=" (1) الحديث الأول"
                                               class="btn btn-default command nav-icon uk-margin-left">
                                                <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                            </a>
                                            <a href="../all-books/"
                                               data-uk-tooltip title="السابق (0)" data-title="مسند الربيع بن حبيب" id="data-prev" data-hadith="1" data-slug="مسند-الربيع-بن-حبيب" data-subject="3" data-id="1" data-book="1"
                                               class="btn btn-default nav-icon">
                                                <i class="fa fa-angle-double-right"></i></a>
                                            <a href="../all-books/"
                                               data-uk-tooltip title=" التالي (2)" data-title="مسند الربيع بن حبيب" data-hadith="1" data-slug="مسند-الربيع-بن-حبيب" id="data-next" data-subject="3" data-id="1" data-book="1"
                                               class="btn btn-default nav-icon ">
                                                <i class="fa fa-angle-double-left "></i></a>
                                            <a href="../all-books/"
                                               data-uk-tooltip title="(890) الحديث الأخير" data-title="مسند الربيع بن حبيب"
                                               class="btn btn-default command nav-icon uk-margin-right">
                                                <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rawy-bottom">
                                <table class="table table-striped">
                                    <tr>
                                        <td>الأسم</td>
                                        <td class="hidden-xs">الشهرة</td>
                                        <td>الرتبة</td>
                                    </tr>
                                                                            <tr>
                                            <td>
                                                <a class="effect" data-rotba="#000" data-id="4883" href="../narrators/">
                                                    عَبْدِ اللَّهِ بْنِ عَبَّاسٍ 
                                                </a>
                                            </td>
                                            <td class="hidden-xs"> عبد الله بن العباس القرشي                                                                                                   <span class="text-info"> / توفي في :</span>68                                             </td>
                                            <td><p style="font-weight:bold ;color: #000 !important;
                                                ">صحابي</p></td>
                                        </tr>
                                                                            <tr>
                                            <td>
                                                <a class="effect" data-rotba="#004f00" data-id="2063" href="../narrators/">
                                                    جَابِرِ بْنِ زَيْدٍ الأَزْدِيِّ 
                                                </a>
                                            </td>
                                            <td class="hidden-xs"> جابر بن زيد الأزدي                                                                                                                                             </td>
                                            <td><p style="font-weight:bold ;color: #004f00 !important;
                                                ">ثقة</p></td>
                                        </tr>
                                                                            <tr>
                                            <td>
                                                <a class="effect" data-rotba="#bebdbd" data-id="31544" href="../narrators/">
                                                    أَبُو عُبَيْدَةَ مُسْلِمُ بْنُ أَبِي كَرِيمَةَ التَّمِيمِيُّ 
                                                </a>
                                            </td>
                                            <td class="hidden-xs"> مسلم بن أبي كريمة التميمي                                                                                                                                             </td>
                                            <td><p style="font-weight:bold ;color: #bebdbd !important;
                                                ">مجهول</p></td>
                                        </tr>
                                                                    </table>
                                <p>

                            </div>

                        </div>


                    </div>
                    <div class="col-md-1 col-sm-1 hidden-xs">

                    </div>

                </div>
                <div class="text-center">
                    <a id="comment" href="../comments/" class="btn btn-primary btn-ms"> أضف تعليق</a>

                </div>

            </div>
      </div>







          
        <footer class="nav">
            <nav class="navbar navbar-inverse ">
                  <div class="container-fluid">
                        <div class="text-center">
                              <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر &copy;</h5>
                        </div>
                  </div>
            </nav>

      </footer>

        </div>
    
    </div>
</body>