<html> 
  <body >

    <div class="container main">
      <div class="shadow">
      <div class="container-fluid">

<!--search area starts-->
<div class="search-area-wrapper">
  <div class="search-area text-center">
      <h2 class="text-primary1">ابحث في الرواة</h2>
  </div>
  <div class="search-control" id="narratorsdom">
      <input type="hidden" name="_token" id="csrf" value="7aLeieqWhV7vc74aVyn2gruNPFOaK19TP6L6dRis">
      <div class="form-inline">
          <input type="text" name="saerch-topic" id="rawy-filter" class="form-control" placeholder="البحث فى الرواة">
          <select name="rotba" id="rotba" class="form-control">
              <option value="0">الجميع</option>
              <option value="صحابي">صحابي</option>
              <option value="ثقة">ثقة</option>
              <option value="صدوق">صدوق</option>
              <option value="حسن">حسن الحديث</option>
              <option value="فقيه">فقيه</option>
              <option value="مقبول">مقبول</option>
              <option value="مجهول">مجهول</option>
              <option value="ضعيف">ضعيف</option>
              <option value="بالكذب">متهم بالكذب</option>
              <option value="كذاب">كذاب</option>
              <option value="بالوضع">متهم بالوضع</option>
              <option value="متروك">متروك الحديث</option>
              <option value="منكر">منكر الحديث</option>

          </select>
      </div>


  </div>

</div>

<!---search area ends-->
<div class="author-panel">
  <div class="text-center uk-margin-top">
      <h2 class="text-info1">الرواة</h2>
  </div>
  <div id="narratorid" class="row uk-margin-large-top">
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="عبد الله بن عبد الملك">
                                                      <h1 class="text-info1 head-font"><a href=" narrator-detail">عبد الله بن عبد الملك</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                      <p> <span class="text-info1">اللقب :</span> آبي اللحم </p>                            <p> <span class="text-info1">الرتبة :</span> صحابي </p>
                      <p>
                                                           <span class="text-info1">توفي عام :</span>  <span> 8</span></p>                        </div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="آدم بن عبد الرحمن بن محمد بن شعيب">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">آدم بن عبد الرحمن بن محمد بن ش...</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                      <p> <span class="text-info1">اللقب :</span> ابن أبي إياس </p>                            <p> <span class="text-info1">الرتبة :</span> ثقة </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="آدم بن سليمان">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">آدم بن سليمان</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> ثقة </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/women-vector.png" class="img-up" alt="الراوي" title="آدم بن علي">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">آدم بن علي</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> صدوق حسن الحديث </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                      <img src="assets/img/women-vector.png" class="img-up" alt="الراوي" title="آمنة بنت الحكم">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">آمنة بنت الحكم</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> صحابي </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                      <img src="assets/img/women-vector.png" class="img-up" alt="الراوي" title="آمنة بنت عبد الله">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">آمنة بنت عبد الله</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> مجهول الحال </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                      <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="آمنة بنت محصن بن حرثان بن قيس بن مرة">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">آمنة بنت محصن بن حرثان بن قيس...</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> صحابي </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                      <img src="assets/img/women-vector.png" class="img-up" alt="الراوي" title="آمنة">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">آمنة</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> ضعيف الحديث </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="أبان بن فيروز">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">أبان بن فيروز</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                      <p> <span class="text-info1">اللقب :</span> ابن أبي عياش </p>                            <p> <span class="text-info1">الرتبة :</span> متروك الحديث </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="أبان بن إسحاق">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">أبان بن إسحاق</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> ثقة </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="أبان بن تغلب">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">أبان بن تغلب</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> صدوق حسن الحديث </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
                      <div class="col-md-4 col-sm-6 col-xs-12 xs-device text-center uk-margin-bottom">
              <div class="panel panel-default height-narrator">
                  <div class="panel-body">
                                                  <img src="assets/img/man-vector.png" class="img-up" alt="الراوي" title="أبان بن خالد">
                                                      <h1 class="text-info1 head-font"><a href="narrator-detail">أبان بن خالد</a> </h1>
                  </div>
                  <div class="panel-heading head-height">
                                                  <p> <span class="text-info1">الرتبة :</span> صدوق حسن الحديث </p>
                      <p>
                                                                                  </p></div>
              </div>
          </div>
              </div>

 
  <div class="loadmore text-center uk-margin-bottom">

      <button class="btn btn-default btn-more next" id="loadMoreNarr" data-id="1">أكثر</button>
  </div>
</div>
                            
                                </div>
                                </div>
                                </div>
    
    </body>
    </html>
    
