.narrator-info{
margin-top: -2em;
}
.text-detail{
  color: #3a8789;
}

//footer

.text-center{
  margin-left: 24em;
  margin-right: 24em;
  margin-top: -0.5em;
}
.tf{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.title{
    font-size: 40px;
    color: #3a8789;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search-text{
  color: #fff;
}
.name{
    font-size: 20px;
    color: #3a8789;
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.image{
    width: 100px;
    margin-left: 15%;
    margin-right: 15%;
   
}
.row{
    margin-left: 35px;
    margin-right: 15px;
}



h1 {
    font-size: 45px;
    user-select:none;
    margin-top: 2px;
    margin-bottom: 6px;
    text-align: center;
   }

   .floating-box{
     margin-left: 15px;
     margin-right: auto;
     margin-bottom: 15px;
     border:.2px solid #666666;
     opacity:0.8;
     float:left;
     background-color: #FFFFFF;
     padding: 15px;
     border-color: #fff;
   }
   
   /*div.floating-box:hover
   {
   border:3px solid #000000;
   } */
   div.floating-box img
   {
     width: auto;
     height: 300px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 25px;
   
   }
   
   h3{
     text-align: center;
     font-size: 35px;
     margin-top: 10px;
   
   } 
   //search

   .search-area-wrapper {
    padding: 10px;
    background: #43cea2;
    background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);
    background: linear-gradient(to left, #43cea2 , #185a9d);
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #3a8789;
  color: #fff;
  font-weight: bold;
}
h2, .h2 {
  font-size: 34px;
}
.search-control {
  padding: 20px 50px;
}

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
input, button, select, textarea {
  
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: 30px;
  width: 80%;
  margin-left: 100px;
 text-align: right;
}

//newww scss
.top-space{
  margin-top: 10em;
  
}
.margin{
  height: 1em;
}
.nar-details{
  background-color: #ededed;
  border-color: #ddd;
  margin-top: -0.7em;
  height: 140px;
  width: 19.9em;
  margin-right: -1em;
 text-align: center;
}

.navbar {
  position: relative;
  min-height: 60px;
  border: 1px solid transparent;
  border-radius: 0;
  
}
.navbar-inverse {
  height: 50px;
  background-color: #3a8789;
  border-color: #2b6465;
  width: 100%;
}
body {
  background-image: url(../../assets/img/symphony.png);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
   direction: rtl;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

}

#rawy-filter {
  width: 80%;
}

@media (min-width: 768px){}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin-right: 0.3em;
}
.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
  padding: 1px 2px;
}
user agent stylesheet
input {
  writing-mode: horizontal-tb !important;
  
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.space{
  margin-top: 1.5em;
}

//MORE BUTTON CSS

.uk-margin-bottom {
  margin-bottom: 15px !important;
}

.button-more1 {
  color: #333;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  font-size: 20px;
  line-height: 1.42857143;
  border-radius: 4px;
  width: 100%;

  
}