<html> 
  <body >

    <div class="container main">
      <div class="shadow">

  <div class="search-area-wrapper">
    <div class="space">  </div>
    <div class="search-area text-center">
      <h2 class="search-text">ابحث في الرواة</h2>
</div>

    <div class="search-control" id="narratorsdom">
      <input type="hidden" name="_token" id="csrf" value="yP9APXrhgMnDH0syuKMBdFhXY4PG6lzMv3sHhgop">
      <div class="form-inline">
          <input type="text" name="saerch-topic" id="rawy-filter" class="form-control" placeholder="البحث فى الرواة">
          <select name="rotba" id="rotba" class="form-control">
              <option value="0"   >  الجميع</option>
              <option value="صحابي">صحابي</option>
              <option value="ثقة">ثقة</option>
              <option value="صدوق">صدوق</option>
              <option value="حسن">حسن الحديث</option>
              <option value="فقيه">فقيه</option>
              <option value="مقبول">مقبول</option>
              <option value="مجهول">مجهول</option>
              <option value="ضعيف">ضعيف</option>
              <option value="بالكذب">متهم بالكذب</option>
              <option value="كذاب">كذاب</option>
              <option value="بالوضع">متهم بالوضع</option>
              <option value="متروك">متروك الحديث</option>
              <option value="منكر">منكر الحديث</option>
    
          </select>
      </div>   
    </div>

   

</div>



    <div class="title">   <h1> الرواة </h1>  </div>
<div class="background"> 
    <div class="row">
    <div class="floating-box" style="height: 150px; width: 30%; ">
     <div class="narrator-info">
      <img src="assets/img/man-vector.png" style="height: 100px; width: 33%;"> 
      <h4 class="name"> محمد بن الحسن الشيباني  </h4>
     </div>

     <div class="nar-details">
       <div class="margin">  </div>
      <p> <span class="text-detail">اللقب :</span>  آبي اللحم  </p>
      <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
      <p> <span class="text-detail">توفي عام :</span> <span> 8</span> </p>
  

      </div>
      </div>

     

      <div class="floating-box" style="height: 150px; width: 30%;">
        <div class="narrator-info">
         <img src="assets/img/women-vector.png" style="height: 100px; width: 33%;"> 
         <h4 class="name"> آمنة بنت الحكم </h4>
        </div>
       
        <div class="nar-details">
          <div class="margin">  </div>
         <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
         <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
      
     
   
         </div>
         </div>

         <div class="floating-box" style="height: 150px; width: 30%;">
          <div class="narrator-info">
             <img src="assets/img/man-vector.png" style="height: 100px; width: 33%;"> 
             <h4 class="name"> محمد بن الحسن الشيباني  </h4>
            </div>
           
            <div class="nar-details">
              <div class="margin">  </div>
             <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
            
         
       
             </div>
              </div>

             </div>

            
            <div class="top-space"> </div>

            <div class="row">
              <div class="floating-box" style="height: 150px; width: 30%;">
                <div class="narrator-info">
                  <img src="assets/img/man-vector.png" style="height: 100px; width: 33%;"> 
                  <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                 </div>
                 <div class="nar-details">
                  <div class="margin">  </div>
                 <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
                 <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
              
             
           
                 </div>
                  </div>
            
                  <div class="floating-box" style="height: 150px; width: 30%;">
                    <div class="narrator-info">
                     <img src="assets/img/women-vector.png" style="height: 100px; width: 33%;"> 
                     <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                    </div>
                    <div class="nar-details">
                      <div class="margin">  </div>
                     <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
                     <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
                  
                 
               
                     </div>
                     </div>
            
                     <div class="floating-box" style="height: 150px; width: 30%;">
                      <div class="narrator-info">
                         <img src="assets/img/man-vector.png" style="height: 100px; width: 33%;"> 
                         <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                        </div>
                       
                        <div class="nar-details">
                          <div class="margin">  </div>
                         <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
                         <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
                      
                     
                   
                         </div>
                         </div>
            
                        </div>

                        <div class="top-space"> </div>

                        <div class="row">
                          <div class="floating-box" style="height: 150px; width: 30%;">
                            <div class="narrator-info">
                              <img src="assets/img/women-vector.png" style="height: 100px; width: 33%;"> 
                              <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                             </div>
                            <div class="nar-details">
                          <div class="margin">  </div>
                         <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
                         <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
                      
                     
                   
                         </div>
                              </div>
                        
                              <div class="floating-box" style="height: 150px; width: 30%;">
                                <div class="narrator-info">
                                 <img src="assets/img/man-vector.png" style="height: 100px; width: 33%;"> 
                                 <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                                </div>
                                <div class="nar-details">
                                  <div class="margin">  </div>
                                 <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
                                 <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
                              
                             
                           
                                 </div>
                                 </div>
                        
                                 <div class="floating-box" style="height: 150px; width: 30%;">
                                  <div class="narrator-info">
                                     <img src="assets/img/women-vector.png" style="height: 100px; width: 33%;"> 
                                     <h4 class="name"> محمد بن الحسن الشيباني  </h4>
                                    </div>
                                    <div class="nar-details">
                                      <div class="margin">  </div>
                                     <p> <span class="text-detail">اللقب :</span>  ابن أبي إياس  </p>
                                     <p> <span class="text-detail">الرتبة :</span>   صحابي  </p>
                                  
                                 
                               
                                     </div>
                                     </div>
                        
                                    </div>
                                    
                                    <div class="top-space"> </div>
                                    
                                    <div class="button-more1">
                                      <button class="button-more1" id="loadauthor" data-id="12">أكثر</button>
                                    </div>
                                    
                                </div>


                                <div class="space"> </div>

                                <footer class="nav">
                                  <nav class="navbar navbar-inverse ">
                                        <div class="container-fluid">
                                              <div class="text-center">
                                                    <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر </h5>
                                              </div>
                                        </div>
                                  </nav>
          
                            </footer>

                            
                                </div>
                                </div>
    
    </body>
    </html>
    

