<html> 
    <body> 
        <div class="container main">
            <div class="shadow">
<div>
    <img src="assets/img/bannar.png" alt="bannar" title="الرواة" class="img-bannar">
</div>           


<div class="books">

    <div class="booksinfo ">
       
       <h4>أسم المؤلف :    
        <span class="text-info1"> زيد بن علي بن الحسين</span>  </h4> 
        <br>
        
        <h4>عام الوفاة :     
       <span class="text-info1"> 122</span>
        <span> هجري </span>  </h4>

<br>
<br>
        <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
            <div class="book-ui">

                  <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-5">
                              <a href="book-details"><img
                                          src="../../assets/img/book-cover.png"
                                          class="img-responsive img-book" alt="كتاب"
                                          title="مسند الربيع بن حبيب"></a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                              <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                href="book-details">مسند
                                                الربيع بن حبيب</a></span></h5>
                              <h5 class="uk-margin-top">أسم المؤلف : <span class="text-info"> <a
                                                href="author-detail">الربيع
                                                بن حبيب</a></span></h5>
                        </div>
                  </div>

            </div>
      </div>

    
</div>
<br>


            
       
</div>

<br><br>
<br><br>

<div class="space"> </div>

<div class="text-center margin-top">
    <a href=" comments" class="btn btn-primary btn-ms"> أضف تعليق</a>
</div>

<br>


</div>
</div>
</body>
</html>
