<body>




<div class="container main">
      <div class="shadow">


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
            <div class="carousel-item active">
                  <img src="../../assets/img/slide-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                  <img src="../../assets/img/slide-3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                  <img src="../../assets/img/slide-4.jpg" class="d-block w-100" alt="...">
            </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
      </button>
</div>

<div class="panel-body text-center">
      <div class="col-md-4 col-sm-6">
            <img src="../../assets/img/books.png" alt="الكتب" title="الكتب"
                  class="img-responsive img-up">
            <h3 class="t-info">المئات من الكتب</h3>
            <p>"الكتب والمواضيع" لدينا 1400 كتاب مقسمة إلى 18 موضوع </p>
      </div>
      <div class="col-md-4 col-sm-6">
            <img src="../../assets/img/author.png" alt="المؤلفين" title="المؤلفين"
                  class="img-responsive img-up">
            <h3 class="t-info">المئات من المؤلفين</h3>
            <p>"المؤلفين والرواة" لدينا لدينا 691 مؤلف وجامع للاحاديث الصحيحة و 42517 الف راوي مع بيانات مفصله</p>

      </div>
      <div class="col-md-4 col-sm-12">
            <img src="../../assets/img/category.png" alt="الموضوعات" title="الموضوعات"
                  class="img-responsive img-up">
            <h3 class="t-info">مواضيع كثيرة</h3>
            <p>"الأحاديث" لدينا 753192 الف حديث مخرج ومفهرس في 176448 الف موضوع. لدينا أكثر من 40 ألف حديث مشروح.</p>
      </div>

</div>
<!--end public group-->
<!-- end of categories-->
<footer class="nav">
      <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
                  <div class="text-center">
                        <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر &copy;</h5>
                  </div>
            </div>
      </nav>

</footer>
</div>
</div>
</body>
    
    