<body>




      <div class="container main">
            <div class="shadow">


                  <!-- Start of Search Wrapper -->
                  <div class="search-area-wrapper">
                        <div class="search-area text-center">
                              <h2 class="tp">ابحث في الكتب</h2>
                        </div>
                        <div class="search-control" id="more-topic">
                              <input type="hidden" name="_token" id="csrf"
                                    value="lLa2MoLXjrTHwYW5saJJYg26aYzTV1kDi7LbwRzJ">
                              <input type="text" name="saerch-topic" id="topic-filter" class="form-control2"
                                    placeholder="البحث فى المواضيع">
                        </div>

                  </div>
                  <!-- End of Search Wrapper -->

<div class="books">
      <div id="books" class="row uk-margin-top">
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب"
                                                title="مسند الربيع بن حبيب"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="books/1/مسند-الربيع-بن-حبيب">مسند
                                                      الربيع بن حبيب</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="single-authors/1/الربيع-بن-حبيب">الربيع
                                                      بن حبيب</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب" title="تفسير مجاهد"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="/تفسير-مجاهد">تفسير
                                                      مجاهد</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="/single-authors/2/مجاهد-بن-جبر">مجاهد
                                                      بن جبر</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب" title="مسند زيد"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="/books/4/مسند-زيد">مسند
                                                      زيد</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="/single-authors/3/زيد-بن-علي-بن-الحسين">زيد
                                                      بن علي بن الحسين</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب"
                                                title="مسانيد فراس المكتب رواية أبي نعيم"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="/5/مسانيد-فراس-المكتب-رواية-أبي-نعيم">مسانيد
                                                      فراس المكتب رواية أبي نعيم</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="/single-authors/4/أبو-نعيم-الأصبهاني">أبو
                                                      نعيم الأصبهاني</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب"
                                                title="حديث أيوب السختياني"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="/books/6/حديث-أيوب-السختياني">حديث
                                                      أيوب السختياني</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="/single-authors/5/أيوب-السختياني">أيوب
                                                      السختياني</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب"
                                                title="صحيفة همام بن منبه"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="books/7/صحيفة-همام-بن-منبه">صحيفة
                                                      همام بن منبه</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="single-authors/6/همام-بن-منبه">همام
                                                      بن منبه</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب"
                                                title="مسند أبي حنيفة رواية أبي نعيم"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="books/11/مسند-أبي-حنيفة-رواية-أبي-نعيم">مسند
                                                      أبي حنيفة رواية أبي نعيم</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="/single-authors/7/أبو-حنيفة">أبو
                                                      حنيفة</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب" title="جزء ابن جريج"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="/books/12/جزء-ابن-جريج">جزء ابن
                                                      جريج</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="/single-authors/8/عبد-الملك-بن-جريج">عبد
                                                      الملك بن جريج</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                  <div class="book-ui">

                        <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-5">
                                    <a href=""><img
                                                src="../../assets/img/book-cover.png"
                                                class="img-responsive img-book" alt="كتاب"
                                                title="الجامع لمعمر بن راشد"></a>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                    <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                                      href="/13/الجامع-لمعمر-بن-راشد">الجامع
                                                      لمعمر بن راشد</a></span></h5>
                                    <h5>أسم المؤلف : <span class="text-info"> <a
                                                      href="/single-authors/9/معمر-بن-راشد-الأزدي">معمر
                                                      بن راشد الأزدي</a></span></h5>
                              </div>
                        </div>

                  </div>
            </div>
      </div>





                  <div class="loadmore text-center uk-margin-bottom">
                        <button class="baksar btn-more next" id="loadtopic" data-id="12">أكثر</button>
                  </div>

</div>
                  <!-- end of categories-->

                  <footer class="nav">
                        <nav class="navbar navbar-inverse ">
                              <div class="container-fluid">
                                    <div class="text-center">
                                          <h5 class="tf">صمم وطور بواسطة فكرة كمبيوتر &copy;</h5>
                                    </div>
                              </div>
                        </nav>

                  </footer>
      </div>
      </div>
</body>
