<html>
<body>

      <div class="container">
            <div class="container-fluid">

                  <div class="about">
                        <div class="panel-body">


                              <div class="authors">
                                    <div class="panel-body uk-margin-bottom">
                                                    <form class="uk-margin-large-top uk-margin-large-bottom" method="post" action="https://hadith.islam-db.com/addcomment">
                                            <input type="hidden" name="_token" value="d4ggSiWfnJhOFIIk67JbY2YJ8VBftbAzkDIYcG8s">
                                            <input type="hidden" value="about" name="url">
                                            <input type="hidden" value="about" name="type">
                                            <input type="hidden" value="عن الموقع" name="label">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">البريد الألكتروني</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputFile">التعليق</label>
                                                <textarea class="form-control" rows="5" name="comment"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>



</div>
</div>
   
    
    </div>
    </div>
    
</body>
</html>


